<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <h2>Register</h2>
  <div>
    <a href="/users/auth/facebook" class="btn btn-primary">Use Facebook</a>
    <a href="/users/auth/twitter" class="btn btn-info">Use Twitter</a>
  </div>
  <%= devise_error_messages! %>
  <h3>Create New Account</h3>
  <div class="list-group-item">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true %>
  </div>
  <div class="list-group-item">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "off" %>
  </div>
  <div class="list-group-item">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "off" %>
  </div>
  <div class="list-group-item">
    <input type="submit" name="commit" value="Create" class="btn btn-success">
  </div>

<% end %>




